/*
 * vim: ft=less
 */

@define-color bg-hover rgba(65, 65, 65, 0.7);
@define-color text-color white;
@define-color text-color-disabled rgba(255, 255, 255, 0.4);
@define-color accent-color rgb(0, 128, 255);

* {
  border: none;
  border-radius: 0;
  font-family: "Adwaita Sans", "FiraCode Nerd Font Propo";
  font-size: 17px;
  font-weight: bold;
  min-height: 0;
}

label {
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.56);
}

tooltip {
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.6);
}

image {
  -gtk-icon-style: symbolic;
  -gtk-icon-shadow: 0 4px 6px rgba(0, 0, 0, 0.56);
}

window#waybar {
  /* background: white; */
  background: rgba(0, 0, 0, 0.6);
  color: @text-color;
  transition-property: background-color;
  transition-property: color;
  transition-duration: 0.25s;
  border-radius: 20px;
}

window#waybar.hidden {
  opacity: 0.2;
}

window {
  background: transparent;
  border-radius: 0;
}

/* All module containers */
window > box > box {
  padding: 0 8px;
}

/* All modules */
window > box > box > widget > * {
  padding: 4px 8px;
}

window > box > box > widget > button:hover {
  background: @bg-hover;
}

.modules-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.modules-center{
  border-radius: 0;
}

.modules-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

window > box > box > widget button:disabled {
  color: @text-color;
  font-weight: bold;
}

#workspaces button {
  padding: 0 10px;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  color: @text-color;
  border-radius: 50px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button.visible,
#workspaces button:hover {
  box-shadow: 0px 0px;
  background-color: rgba(255, 255, 255, 0.1);
}

#workspaces button.focused {
}

#workspaces button.urgent {
  color: #bd2c40;
}

#gamemode {
  color: @text-color-disabled;
}
#gamemode.running {
  color: @text-color;
}

#backlight {
  background-color: #90b1b1;
}

#custom-airplane {
  font-size: 24px;
}

#bluetooth {
  font-size: 22px;
}

#bluetooth.disabled,
#bluetooth.off {
  color: @text-color-disabled;
}

#network {
  font-size: 22px;
}
#network.wifi {
  font-family: "Material Symbols Rounded";
}

#network.disconnected,
#network.disabled,
#network.linked {
  color: @text-color-disabled;
}

#pulseaudio.muted {
  color: @text-color-disabled;
}

#privacy {
}
#privacy-item {
  margin: 2px 0;
  padding: 0 16px;
  color: @text-color;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
#privacy-item.screenshare {
  background: #30c658;
}
#privacy-item.audio-in {
  background: #ffa915;
}
#privacy-item.audio-out {
  background: #1c71d8;
}
