@define-color blank rgba(0, 0, 0, 0);
@define-color base00 rgba(0, 0, 0, 0.6);
@define-color base01 rgba(255, 255, 255, 0.1);

window {
	margin: 0px;
	background-color: @blank;
	border-radius: 50px;
}

#input {
	margin: 0px;
	padding: 10px;
	color: #dddddd;
	border: 0px;
	background-color: @blank;
	border-radius: 50px;
}

#input:focus {
	outline: none;
	box-shadow: none;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: @blank;
}

#outer-box {
	margin: 0px;
	border: none;
	background-color: @base00;
	border-radius: 20px;
}

#scroll {
	margin: 5px;
	border: none;
	background-color: @blank;
}

#text {
	margin: 0px;
	border: none;
	color: #ffffff;
	font-family: "Adwaita Sans", "FiraCode Nerd Font Propo";
	font-size: 17px;
	font-weight: bold;
	text-shadow: 0 4px 6px rgba(0, 0, 0, 0.56);
	background-color: @blank;
}

#entry {
	padding: 5px;
	padding-left: 10px;
	margin: 0px;
	background-color: @blank;
}

#entry:selected {
	background-color: @base01;
	border-radius: 20px;
}

*:focus {
	outline: none;
}
