window {
	margin: 0px;
	border: 1px solid #767676;
	background-color: #000000;
}

#input {
	margin: 5px;
	border: 1px solid #767676;
	color: #dddddd;
	background-color: #000000;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #000000;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #000000;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #dddddd;
}

#entry:selected {
	background-color: #0d73cc;
}
